.Chat{
    height: 100%;
    width: 75%;
    border: 1px solid lightgrey;
    position: fixed;
    top: 0;
    right: 0;
}

.chat {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

// .toBottom{
//     width: 100%;
//     position: fixed;
//     top: 85vh;
    
//     div{
//         width: 75%;
//         text-align: center;
//     }
//     button{
//         background-color: #0099FF;
//         color: white;
//         transition: background-color .3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//     }
    
//     button:hover{
//         background-color: #44b4ff;
//         color: white;
//     }
// }

// @media screen and (max-height: 780px) {
// 	.toBottom{
//         top: 80vh;
//     }
// }

// @media screen and (max-height: 580px) {
// 	.toBottom{
//         top: 75vh;
//     }
// }

// @media screen and (max-height: 470px) {
// 	.toBottom{
//         top: 70vh;
//     }
// }

// @media screen and (max-height: 390px) {
// 	.toBottom{
//         top: 65vh;
//     }
// }

// @media screen and (max-height: 350px) {
// 	.toBottom{
//         top: 60vh;
//     }
// }

// @media screen and (max-height: 300px) {
// 	.toBottom{
//         top: 55vh;
//     }
// }