.MessageAdding{
    position: fixed;
    bottom: 0;
    width: 75%;
    background-color: white;

    form{
        background-color: white;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    
        input{
            border: none;
            outline: none;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 20px;
            flex-grow: 2;
            font-size: 16px;
        }

        label{
            cursor: pointer;
            padding: 12px;
            border-radius: 50%;

            &:hover{
                background-color: #F5F5F5;
            }
        }

        .fileInput{
            display: none;
        }

        svg{
            color: #0099FF;
        }
    }
}

.messagingDisabled{ 
    button, div{
       svg{
        color: #A4AAB3;
        } 
    }
}

.chosenPhotoFile, .chosenFile{
    margin: 10px; 
    margin-left: 25px;
}

.chosenPhotoFile{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-position: 50%;
    background-size: cover;
}

.chosenFile{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    max-width: 300px;

    .fileIcon{
        background-color: #0099FF;
        padding: 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        svg{
            color: white;
        }
    }

    .chosenFileDescription{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: 20px;

        p{
            font-weight: 600;
        }
    }

}