*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    padding-right: 0 !important;
}

a{
    text-decoration: none;
}