.Welcome{
    padding-bottom: 30px;
    text-align: center;
    user-select: none;


    .group{
        display: flex;
        flex-direction: column;

        .img{
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background-position: 50%;
            background-size: cover;
            margin-bottom: 20px;
        }
        h1{
            width: 70%;

        }
    }
    img{
        width: 13%;
    }
}

